<style type="text/css">
    /* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: white;
}

span{
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-left: 2px;
    padding-right: 0;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #4EE70B;
    padding-left: 2px;
    padding-right: 0;
    transition: 0.3s;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgba(0,0,0,0);
    border-color: #4EE70B;
    transition: 0.3s;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(0,0,0,0);
    color: #4EE70B;
    transition: 0.3s;
}

.dropdown ul {
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 0;
    left: 0 !important;
}

.dropdown li > a{
    border-bottom: 1px solid #ddd;
    padding-left: 10px !important;
}

.dropdown li > a:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #626567;
    background-repeat: repeat-x;
}

.jh-navbar {
    background-color: #626567;
    padding: .2em 1em;
    z-index: 10;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-item.active, .jh-navbar .dropdown-item.active:focus, .jh-navbar .dropdown-item.active:hover {
    background-color: #626567;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: white;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: white;
}

@media (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

.bar-topo{
    background-color: rgb(132, 136, 138);
    height: 30px;
}

.bar-topo label{
    color: white;
    font-size: 14px;
}

@media (max-width: 500px) {
    .bar-topo{
        height: 40px;
    }
}



/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 0 15px;
}

.logo .logo-img {
    height: 55px;
    display: inline-block;
    vertical-align: middle;
    width: 180px;
}

.logo-img {
    height: 100%;
    background: url("../../../content/images/logoIntersep2.png") no-repeat center center;
    background-size: contain;
    width: 100%;
}

</style>

<nav class="navbar navbar-dark navbar-toggleable-sm jh-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo">
                <span class="logo-img">
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>

                <li class="nav-item" ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="nav-link" class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="hidden-sm">
                                Consultas
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                    	<li ui-sref-active="active">
                                <a ui-sref="quantitativa" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Quantitativas</span>
                                </a>
                            </li>
                               <li ui-sref-active="active">
                                <a ui-sref="qualitativa" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Qualitativas</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="personalizada" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Personalizadas</span>
                                </a>
                            </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>

                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                
                <li class="nav-item" ui-sref-active="active" ng-switch-when="true">
                            <a class="nav-link" href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Logout</span>
                            </a>
                        </li>

                        <li class="nav-item" ui-sref-active="active" ng-switch-when="false">
                            <a class="nav-link" href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span>Login</span>
                            </a>
                        </li>

                
                <li ng-hide="true" ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span>Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span>Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span>Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span>Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span>API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li ng-hide="vm.inProduction">
                            <a href='/h2-console' target="_tab" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                                <span>Database</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
