<div ng-cloak>

	<h2>Estatisticas</h2>

	<h4 ng-if="q1">{{q1}}% dos indiciamentos tipificados como homicidio levaram a condenacoes pelo Art.121 (Matar alguem) </h4>

	<br>

	<h2>Busca por CPF</h2>

    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">CPF</label>
    <input ng-model="cpf" class="form-control" id="cpfinput" aria-describedby="emailHelp" placeholder="Digite o CPF">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>

  <button type="submit" class="btn btn-primary" ng-click="buscar()">Buscar</button>
</form>

	<br>
	<h4 ng-if="indiciamento">Indiciado no processo de numero {{indiciamento}}</h4>
	<br>
	<h4 ng-if="penal">Condenado na execucao de numero {{penal}}</h4>

	
	

</div>
