/* ==========================================================================
Main page styles
========================================================================== */

.content{
    margin: auto;
    position: fixed;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    height: auto;
}

.nemo {
    display: grid;
    background: url("../../content/images/logoNemo.png") no-repeat center;
    background-size: contain;
    width: 200px;
    height: 80px;
    margin: 25px auto;
    align-self: center;
}

.divTitle{
    margin-left: -15px;
}

.lost-account{
    text-align: left;
    color: #626567;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px !important;
    padding-right: 5px !important; 
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.label13{
    font-size: 13px;
}

.label14{
    font-size: 14px;
    font-weight: 400;
}

.label15{
    font-size: 15px;
    font-weight: bold;
}

.label16{
    font-size: 16px;
    font-weight: 500;
}

input[type="text"], input[type="password"], input[type="email"]{
    height: 45px;
}

input::placeholder{
    font-size: 14px;
    color: gray;
    font-family: 'FontAwesome', sans-serif;
}

.jh-card{
    width: 420px;
    height: 510px;
    padding: 5px 20px 30px 20px !important;
}

/* ==========================================================================
Responsive Layout
========================================================================== */

@media screen and (max-width: 424px) {
    .jh-card {
        width: 100% !important;
    }
    .content{
        left: 0 !important;
        width: 100% !important;
    }
}

@media screen and (max-height: 640px) {
    .content {
        position: absolute !important;
        top: 60px !important;
    }
    .jh-card{
        padding-bottom: 50px;
        position: relative !important;
        margin-bottom: 60px;
    } 
}

@media (max-width: 350px) {
    .jh-card{
        height: 100% !important;
    }
}
