/* ==============================================================
Bootstrap tweaks
===============================================================*/

.nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(0,0,0,0);
    color: #4EE70B;
}

td{
    background-color: white !important;
}

.hipster {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: url("../images/iconNemo.png") no-repeat center top;
    background-size: contain;
}

.modal-header{
background-color: #626567;
}

body, h1, h2, h3, h4 {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    letter-spacing: .5px;
}

.h5{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f5f5f5;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid green;
}

.ng-invalid:not(form)  {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 0 50px 20px 50px;
    border: none;
    box-shadow: 0px 2px 14px 6px #D3D3D3;
    -webkit-box-shadow: 0px 2px 14px 6px #D3D3D3;
    -moz-border-radius: 0px 2px 14px 6px #D3D3D3;
    border-radius: 8px;
}

.modal-content{
    background-color: #FCFCFC;
}

.modal-footer{
    padding: 0 15px 15px 15px;
    border-top: none !important;
}

.close {
    float: right;
    margin: -5px -5px 0 0;
    background-color: #626567;
    color: white;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    opacity: 1 !important;
    font-weight: 100 !important;
}

.close:hover {
    color: lightgray;
}

.modal-header {
    padding:9px 15px;
    border: none;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container-fluid .modal-header {
    color: rgb(27, 26, 26); 
}

.modal-content .modal-header {
    background-color: #626567;
    color: white;
}

.divPad{
    padding: 0 40px;
}

.table-responsive{
    overflow-x: auto !important;
}

.entity-card{
    margin-top: 20px;
}

.entity-card h2{
    margin-top: 15px;
}

.error {
    color: white;
    background-color: red;
}

.btn-generic{
    background-color: #626567; 
    color:white;
    font-weight: 500;
    font-size: 17px;
}

.btn-generic:focus{
    box-shadow: 0 0 0 1px #A6ACAF !important;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
Tooltip
========================================================================== */

.questionTooltip{
    display: inline-block;
    position: relative;
    border-bottom: none !important;
    font-size: 16px;
    font-weight: 400 !important;
    text-align: center;
    opacity: 1 !important;
    z-index: 5;
}

/* Tooltip text */
.questionTooltip:after{
    background: #a80000;
    border-radius: 5px;
    top: 40px;
    color: white;
    content: attr(data-tooltip);
    left: 0;
    padding: 5px 15px;
    position: absolute;
    z-index: 5;
    visibility: visible;
    border: none;
    box-shadow: 0px 1px 7px 3px #D3D3D3;
    -webkit-box-shadow: 0px 1px 7px 3px #D3D3D3;
    -moz-border-radius: 0px 1px 7px 3px #D3D3D3;
}

.questionTooltip.position-l:after{
    margin-left: -40px;
}

.questionTooltip.position-c:after{
    margin-left: -110px;
}

.questionTooltip.position-r:after{
    margin-left: -180px;
}

.questionTooltip.width-s:after{
   width: 180px;
}

.questionTooltip.width-m:after{
    width: 210px;
}

.questionTooltip.width-l:after{
    width: 240px;
}

.fa-question-circle:before{
    font-size: 19px;
}

.questionTooltip:before{
    border: solid;
    border-color: #a80000 transparent;
    border-width: 0 20px 20px 20px;
    content: "";
    left: 0;
    margin-left: -13px;
    position: absolute;
    z-index: 99;
    top: 20px;
    visibility: visible;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand, [jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom sweet alerts for notification
========================================================================== */
.swal-modal{
    height: auto;
    display: inline-block;
    border: none;
    -moz-box-shadow:    inset 0 0 15px #343a40;
    -webkit-box-shadow: inset 0 0 15px #343a40;
    box-shadow:         inset 0 0 15px #343a40;
    font-family: "Trebuchet MS";
}

.swal-button-container{
    display: none;
}

.swal-footer{
    /*background: url("../../content/images/loading.gif") no-repeat center;*/
    background-size: contain;
    height: 40px;
    margin-bottom: 10px; 
}

.swal-icon {
    margin: 20px auto 5px auto;
}

.swal-text{
    text-align: center;
}

.swal-icon--error{
    border-color: rgb(255, 43, 43);
}

.swal-icon--error__line{
    background-color: rgb(255, 43, 43);
}

.swal-icon--error + .swal-title{
    color: rgb(255, 43, 43);
}

.swal-icon--success__ring{
    border-color: #a5dc86;
}

.swal-icon--success__line{
    background-color: #a5dc86;
}

.swal-icon--success + .swal-title{
    color: #a5dc86;
}



/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

.alert-danger{
    text-align: center;
    padding: 15px;
    background-color: rgb(243, 9, 8);
    color: white;
    border-radius: 8px;
    border: none;
    z-index: 10;
    width: 100%;
    margin: 5px 0 -5px 0; 
}

.alert-danger .close {
    float: right;
    margin: -5px 10px 0 0; 
    color: white;
    width: 30px;
    height: 30px;
    opacity: 1 !important;
    font-weight: 100 !important;
    background-color: transparent !important;
}

.alert p{

}

.alert-danger .close:hover {
    color: rgb(240, 240, 240);
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}

/* ==========================================================================
Social Buttons
========================================================================== */

.jh-btn-social {
    margin-bottom: 5px;
}

.jh-btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-google:hover, .jh-btn-google:focus, .jh-btn-google:active, .jh-btn-google.active, .open > .dropdown-toggle.jh-btn-google {
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook:hover, .jh-btn-facebook:focus, .jh-btn-facebook:active, .jh-btn-facebook.active, .open > .dropdown-toggle.jh-btn-facebook {
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter:hover, .jh-btn-twitter:focus, .jh-btn-twitter:active, .jh-btn-twitter.active, .open > .dropdown-toggle.jh-btn-twitter {
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

jhi-item-count{
    font-size: 14px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;

}
/* jhipster-needle-css-add-main JHipster will add new css style */

.pagination-conteiner {
    text-align: center;
}

.pagination>.page-item.active>a{
    color: white !important;
}

.pagination>.page-item.disabled>a{
    color: black !important;
}

.pagination>.page-item>.page-link{
    color: black;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #A6ACAF !important;
    border-color: #A6ACAF !important;
}

.modal-footer-termo-contrato {
    display: -ms-flexbox;
    display: block;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: end;
        justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #e9ecef;
  }

.spinner-circle {
    width: 90px !important;
    height: 90px !important;
    /* background: url("../../content/images/iconOnticket.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 64px;
    background-color: rgb(228, 228, 228);
    animation: load8 1.4s infinite linear !important;
}

.spinner-pulse {
    width: 90px !important;
    height: 90px !important;
    /*background: url("../../content/images/iconOnticket.png");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 80px;
    background-color: rgb(228, 228, 228);
    animation: sk-scaleout 1.4s infinite ease-in-out;
    border: 4px solid #900000;
}

/* Styling for the Slim Loading Progress Bar container */
.slim-loading-bar {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

/* Styling for the Slim Loading Progress Bar itself */
.slim-loading-bar-progress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border: 1px solid #ccc;
    margin-left: -15px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #626567;
    border: 1px solid #626567;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 5px;
    top: 0;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type="checkbox"]{
    height: auto;
    /* margin-left: -28px; */
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link{
    background-color: #626567;
    color: white  !important;
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    font-style: italic;
    border-color: rgb(139, 139, 139) rgb(139, 139, 139) #fff !important;
    background-color:rgb(240, 240, 240);
    opacity: 1;
}

.nav-tabs .nav-link{
    opacity: 0.6;
    border-bottom-color: rgb(121, 121, 121);
}

.nav-tabs{
    border-bottom-color: rgb(139, 139, 139);
}

.nav-tabs .nav-link:hover{
    /*border-bottom-color: rgb(139, 139, 139);*/
}

.nav > .nav-item > .nav-link{
    color: black;
}

.ng2-imgcrop input {
    display: block;
}

.ng2-imgcrop canvas{
    padding-top: 10px;
}

.img-cropper-Banner, .img-cropper-Evento {
    vertical-align: initial;
}

@media (max-width: 799px) {
    .jh-card {
        padding: 0 30px 20px 30px !important;
    }

    .jh-card .modal-body{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .ng2-imgcrop canvas{
        width: 100% !important;
    }
    .img-cropper-Banner {
        height: 275px !important;
    }

    .nav-tabs{
        margin: 10px 0px -20px 0px !important;
    }
}

@media screen and (max-width: 1120px) {
    .img-cropper-Banner {
        width: 100% !important;
        height: 420px;
        padding-right: 15px;
    }
}

@media (max-width: 575px){
    .modal-content{
        margin-top: 30px;
    }
    .close {
        margin: -20px -15px 0 0; 
    }
}

@media (max-width: 515px) {
    .img-cropper-Evento {
        width: 100% !important;
        padding-right: 15px;
    }

    .ng2-imgcrop input {
        width: 100% !important;
    }
    .img-cropper-Banner {
        height: 215px !important;
    }
}

@media (max-height: 600px)
{
    .footer{
        display: none !important;
    }
}